@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0px;
}
a i {
  color: black;
}
html {
  behavior: "smooth";
}

:root {
  --primar: #cf1778;
  --skyblue: #02d4e3;
}
.sidebar {
  position: fixed;
  top: 0;
  left: -100% !important;
  height: 100vh;

  background-color: #cf1778 !important;
  margin: 0 !important;
  z-index: 100;
  transition: all 0.5s ease;
}

.sidebar.close {
  width: 257px;
  left: 0 !important;
  background: var(--primar) !important;
  opacity: 1 !important;
}

.sidebar .nav-links {
  padding-left: 0;
  height: 100%;
  padding-top: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar .nav-links li {
  list-style: none;
  position: relative;

  transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
  background: #02d4e3 !important;
}

.sidebar .nav-links li .icon-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .icon-link {
  display: block;
}

.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .link_name {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.sidebar .nav-links li.active {
  background-color: #02d4e3 !important;
}

.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primar);
  position: relative;

  left: 0px;
  width: 100%;

  transition: all 0.3s ease;
}

.sidebar.close ~ .home-content {
  left: 257px;
  transition: all 0.3s ease;
  width: calc(100% - 257px);
}

.home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
  color: white;
}

.home-content img#logo {
  width: 200px;
}
/* account */
.account {
  margin-top: 10px;
}
.account img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.account-section {
  box-shadow: 0px 2px 15px 0px;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
  z-index: 11;
  display: none;
  transition: all 0.3s ease;
}

.account-section.active {
  right: 110px;
  top: 50px;
  display: block;
  animation: animate 0.3s ease;
}
@keyframes animate {
  0% {
    transform: translateY(-130px);
  }
  100% {
    transform: translateY(0px);
  }
}
.account-section ul li {
  list-style: none;
}
.account-section ul li a {
  text-decoration: none;
  display: block;
  color: var(--primar);
  transition: 0.3s ease;
}
.account-section ul li a:hover {
  color: black;
}
.home-content .btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content .btns button {
  padding: 6px 10px;
  border: none;
  margin: 3px;

  color: black;
  transition: 0.3s ease;
  cursor: pointer;
}
#click_btn {
  background-color: var(--skyblue);
  color: black;
  text-align: center;
}
#sound_icon_play {
  color: black !important;
}
#setting_sound {
  color: black;
}
/* /////////////////////////////////////////////////// */

.main-home-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  position: relative;

  left: 0px;
  width: 100%;

  transition: all 0.3s ease;
}

.sidebar.close ~ .main-home-section {
  left: 257px;
  transition: all 0.3s ease;
  width: calc(100% - 257px);
}

.scorer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
.scorer .score-1 {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}
.scorer .score-1 h1 {
  font-size: 40px;
  align-self: flex-start;
}
.scorer .score-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.scorer .score-2 .score-div-1 {
  background-color: var(--skyblue);
  display: flex;
  /* width: 100%; */
  width: 360px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  border-radius: 10px;
  padding: 20px;
}
.scorer .score-2 .score-div-1 .name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.scorer .score-2 .score-div-1 .name .flg_img {
  width: 30px;
  border-radius: 0px;
  height: 60px;
  object-fit: contain;
}

.scorer .score-2 img {
  border-radius: 50%;
  width: 200px;
  object-fit: cover;
  height: 200px;
}
.scorer .score-3 {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  padding: 20px;
}
.scorer .score-4 {
  width: 100%;
  height: 20vh;
  background-color: var(--skyblue);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#record {
  position: absolute;
  color: yellow;
  font-size: 30px;
  transform: rotate(-20deg);
}

@media screen and (max-width: 1267px) {
  .scorer .score-2 .score-div-1 {
    flex: 40%;
  }
  #record {
    font-size: 17px;
    font-weight: 700;
  }

  .scorer .score-2 img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 1067px) {
  .scorer .score-2 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 968px) {
  .scorer .score-2 .score-div-1 {
    width: 260px;
  }
  .scorer .score-2 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 800px) {
  .scorer .score-2 .score-div-1 {
    width: 200px;
  }
}
@media screen and (max-width: 800px) {
  .scorer .score-2 .score-div-1 {
    width: 170px;
  }
}
@media screen and (max-width: 438px) {
  .scorer .score-2 .score-div-1 {
    width: 100%;
    padding: 3px;
  }
  .scorer .score-2 img {
    width: 80px;
    height: 80px;
  }
}

/* /////////////////////////// */
.toggle {
  height: 40px;
  width: 50px;
  border: 2px black;
  background-color: transparent;
  position: relative;
  /* left: 0px; */
  /* top: 10px; */
  overflow: hidden;
  /* display: none; */
  cursor: pointer;
}

.toggle span {
  height: 3px;
  width: 40px;
  background-color: white;
  position: absolute;
  top: 20px;
  left: 5px;
  transition: 0.3s;
}

.toggle span:nth-child(1) {
  transform: translateY(-10px);
  width: 30px;
}

.toggle span:nth-child(2) {
  transform: translateY(10px);
  width: 20px;
}

.toggle.active span:nth-child(3) {
  transform: translateX(50px);
}

.toggle.active span:nth-child(1) {
  transform: translateX(0px) rotate(45deg);
  width: 40px;
}

.toggle.active span:nth-child(2) {
  transform: translateY(0px) rotate(315deg);
  width: 40px;
}

@media screen and (max-width: 533px) {
  .toggle span {
    width: 10px;
  }
  .account img {
    height: 30px;
    width: 30px;
  }
}

/* Media query  */
@media screen and (max-width: 992px) {
  .home-content {
    z-index: 1111;
    /* position: fixed; */
    top: 0;
  }
  .sidebar.close {
    position: fixed;
    left: 0 !important;
    width: 100%;
    height: 100%;
    top: 50px !important;
    /* display: block; */
  }
  .toggle {
    display: block;
  }
  .sidebar.close .logo-details {
    display: none;
  }
  .sidebar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .sidebar .nav-links {
    width: 30%;
    display: flex;
    height: auto;

    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .sidebar .nav-links li {
    width: 100%;
    margin-top: 40px;
  }
  .sidebar .nav-links li:hover {
    background-color: var(--skyblue);
  }

  .sidebar.close ~ .home-content,
  .sidebar.close ~ .main-home-section,
  .sidebar.close ~ .view_blog {
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 851px) {
  .font-weight-bold {
    white-space: nowrap;
    font-size: 10px;
  }
  #counting-button {
    font-size: 10px;
  }
}

@media screen and (max-width: 698px) {
  .home-content a button {
    font-size: 10px;
  }
  .home-content img#logo {
    width: 120px;
  }
}
@media screen and (max-width: 700px) {
  .font-weight-bold {
    font-size: 14px;
  }
}
@media screen and (max-width: 617px) {
  .sidebar .nav-links li i {
    font-size: 15px;
  }
  .bx-menu {
    display: none;
  }
  .sidebar .nav-links li a .link_name {
    font-size: 15px;
  }
}
@media screen and (max-width: 565px) {
  .sidebar .nav-links {
    width: 100%;
  }
  .bell i {
    font-size: 20px;
  }
  .home-content .btns button {
    padding: 3px 6px;
  }
}

@media screen and (max-width: 354px) {
  .sidebar {
    left: -150% !important;
  }
  .privacy h1 {
    font-size: 23px;
  }
  .privacy h2 {
    font-size: 17px;
  }
  .privacy ol li {
    padding-left: 0px;
  }
  .privacy ol li {
    font-size: 13px;
  }
  .privacy p {
    font-size: 11px;
  }
}
/* ////////////////////////////////////////////////// */
.blog-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  position: relative;

  left: 0px;
  width: 100%;

  transition: all 0.3s ease;
}

.sidebar.close ~ .blog-section {
  left: 257px;
  transition: all 0.3s ease;
  width: calc(100% - 257px);
}
.main-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: white !important;
}

.main-home .top-ad {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--skyblue);
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.breadcrumbs h4 {
  font-weight: 300;
  font-size: 15px;
  border-right: 1px solid gray;
  padding-right: 10px;
}

.breadcrumbs__item {
  display: inline-block;
  padding-left: 20px;
}

.breadcrumbs__item i {
  padding-right: 10px;
}

.breadcrumbs__item:not(:last-of-type)::after {
  content: "\203a";
  margin: 0.7rem;
  color: black;
}

.breadcrumbs__link {
  text-decoration: none;
  font-weight: 100;
  color: #c1c1c1;
  font-size: 12px;
}

.breadcrumbs__link:hover {
  text-decoration: underline;
}

.breadcrumbs__link--active {
  color: var(--primary);
  font-weight: 300;
}

.sub-menu li.active a {
  color: white;
}

/* breadcrumbs styling End */
.adsense-ad,
.top-ad {
  background-color: var(--skyblue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 150px;
}
.recent-blog {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  height: auto;
}

.blog {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  width: 100%;

  padding: 10px;
  box-sizing: border-box;
}

.blog .blog-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  height: 250px;
  text-align: center;
  margin-top: 10px;

  width: 300px;
  box-sizing: border-box;
  margin: 5px;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  background-color: var(--skyblue);
}

.blog .blog-1 img {
  width: 100% !important;
  height: 60%;
  object-fit: cover;
}

.blog .blog-1 a {
  text-decoration: none;
  margin-top: 20px;
}

.blog .blog-1 a h1 {
  font-size: 20px;
  color: black;
}

.adsense-ad {
  background-color: var(--skyblue);
}

@media screen and (max-width: 1316px) {
  .blog {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 992px) {
  .sidebar.close ~ .blog-section {
    left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 872px) {
  .blog .blog-1 {
    flex: 35%;
  }
}

@media screen and (max-width: 503px) {
  .blog {
    flex-wrap: wrap;
    padding: 1px;
  }
  .blog .blog-1 {
    flex: 40%;
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  .blog .blog-1 {
    flex: 100%;
  }
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primar);
  padding: 10px;
}

footer .top-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .top-footer ul li {
  list-style: none;
  display: inline-block;
}

footer .top-footer ul li a {
  padding: 6px;
  text-decoration: none;
  color: black;
}

.bottom-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-footer i {
  padding: 5px;
  margin: 5px;
  background-color: gainsboro;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}

.bottom-footer i:hover {
  transform: rotate(360deg);
}

.last {
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 400px) {
  footer .top-footer ul li a {
    font-size: 8px;
  }
  .last p {
    font-size: 10px;
  }
}

/* ////////////////////////////////////////////////// */
.comments {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10px;
  height: 250px;
}

.comments .left-comment {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  width: 30%;
}

.comments .left-comment img {
  width: 40px;
  height: 40px;

  object-fit: contain;
  border-radius: 50%;
}

.comments .right-comment {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
}

.comments .right-comment .top-comment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments .right-comment .top-comment h4 {
  font-weight: 800;
  font-size: 18px;
}

.comments .right-comment .top-comment p {
  color: gray;
  padding-left: 16px;
  font-size: 14px;
}

@media screen and (max-width: 1043px) {
  .post {
    padding: 6px;
  }
  .comments .left-comment {
    align-items: flex-start;
  }
}

@media screen and (max-width: 897px) {
  .comments .left-comment .image-div {
    align-self: flex-start;
  }
}
@media screen and (max-width: 540px) {
  .comments {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .comments .left-comment {
    justify-content: flex-start;
    padding-bottom: 0px;
    padding-left: 2px;
  }
  .comments .right-comment {
    padding: 5px;
    width: 100%;
  }
  .comments .right-comment .top-comment p {
    font-size: 11px;
  }
}
/* ////////////////////////////////////////////////// */

.title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  padding: 20px;
}
.img_text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 6px;
}
.img_text img {
  width: 200px;
  object-fit: cover;
  height: 200px;
  padding: 5px 20px 5px 0;
}

.title .table-of-content {
  background-color: var(--skyblue);
  width: 25%;
  padding: 20px;
}
@media screen and (max-width: 497px) {
  .title .table-of-content {
    width: 50%;
  }
  .img_text {
    flex-direction: column;
  }
}
.title .text {
  padding-top: 10px;
  line-height: 30px;
}

.title .text p {
  padding: 10px 0 10px 0;
}

.main-form {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  width: 100%;
}
.form-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  align-self: center !important;
}
#post-form {
  width: 70%;
  align-self: center;
}
form#form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  width: 60%;
  align-self: center;
}
.direct-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  align-self: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

form .both {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form .form-control,
form .form-control2,
form .both .form-control {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: none;
  padding: 10px;
  width: 100%;
  background-color: transparent !important;
}

.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  width: 80%;
  align-self: center;
}

form .both .form-control input,
form .form-control input,
form .form-control2 input {
  background-color: var(--skyblue);
  border: none;
  padding: 10px;
  color: black;
  width: 100%;
}
form .form-control2 input[type="email"] {
  width: 50%;
}
form .form-control input[type="email"] {
  width: 100%;
}
form .center-form .form-control3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
form .center-form .form-control3 input {
  background-color: var(--skyblue);
  border: none;
  padding: 10px;
  color: black;
  width: 100%;
}
form .form-control input::placeholder,
form .both .form-control input::placeholder,
form .form-control2 input::placeholder,
form .center-form .form-control3 input::placeholder {
  color: black;
}

form .form-control input:focus,
form .both .form-control input:focus,
form .form-control2 input:focus {
  border: none;
  outline: none;
}

form .center-form .form-control {
  padding: 0;
}
form .center-form .form-control textarea {
  width: 100%;
}
form .form-control textarea {
  resize: none;
  width: 70%;
  padding: 10px;
  align-self: center;
  border: none;
  color: black;
  background-color: var(--skyblue);
}
#post_btn {
  align-self: center;
}
#subject,
.mail-label {
  width: 70%;
  align-self: center;
}
#text_label {
  padding-left: 160px;
}
@media screen and (max-width: 1025px) {
  #text_label {
    padding-left: 100px;
  }
}
@media screen and (max-width: 899px) {
  #text_label {
    padding-left: 70px;
  }
}
form .form-control textarea::placeholder {
  color: black;
}

button {
  background-color: var(--skyblue) !important;
  border: none !important;
  padding: 10px 20px;
  color: black;
  margin-top: 10px;
  cursor: pointer;
}

@media screen and (max-width: 961px) {
  form .both,
  form .form-control {
    width: 100%;
  }
  form .center-form,
  form .form-control2,
  form .both .form-control {
    width: 100% !important;
  }
}

@media screen and (max-width: 757px) {
  form .both {
    flex-direction: column;
  }
  form .form-control2 input[type="email"] {
    width: 100%;
  }
  form .center-form {
    padding: 0;
  }
  form .center-form,
  form .form-control2,
  form .both .form-control {
    width: 100% !important;
    padding: 0;
    margin-top: 10px;
  }

  form .form-control textarea,
  form .form-control {
    width: 100% !important;
  }
  form .form-control {
    padding: 5px;
  }
  #text_label {
    padding-left: 0;
  }
}

@media screen and (max-width: 616px) {
  .form-container {
    width: 100%;
  }
  form#form {
    width: 90%;
  }
}
@media screen and (max-width: 535px) {
  #post-form {
    width: 90%;
  }
}
@media screen and (max-width: 461px) {
  .title,
  form,
  form .both {
    padding: 5px;
    width: 100%;
  }
  #post-form {
    width: 100%;
  }
  #subject,
  .mail-label,
  .form-control {
    width: 100% !important;
  }
  .text p {
    line-height: normal;
    font-size: 12px;
  }
  form#form {
    width: 100%;
  }
}

/* Validation  */
.form-control.success input {
  border-color: #2ecc71;
}
.form-control.error input {
  border-color: #e74c3c;
}
.form-control i {
  position: absolute;
  top: 30px;
  right: 25px;
  visibility: hidden;
}
.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}
.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}
.form-control small {
  visibility: hidden;
  position: absolute;
  top: 55px;
  left: 165px;
}
.form-control #text {
  position: absolute;
  top: 235px;
  left: 155px;
}
.form-control.error small {
  color: #e74c3c;
  visibility: visible;
}

@media screen and (max-width: 1313px) {
  .form-control small {
    left: 120px;
  }
}
@media screen and (max-width: 1039px) {
  .form-control small {
    left: 150px;
  }
}
@media screen and (max-width: 700px) {
  .form-control small {
    left: 20px;
    top: 80px;
  }
  .form-control #text {
    left: 20px;
    top: 260px;
  }
  .form-control i {
    top: 55px;
  }
}

/* About page styling  */
.about-div {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primar);
  font-size: 30px;
  font-weight: 500;
  color: white;
}
.main-about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.main-about .left-about {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.main-about .left-about p {
  margin-top: 10px;
}
.main-about .right-about {
  width: 30%;
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--skyblue);
}
button:hover {
  background-color: black;
}
@media screen and (max-width: 850px) {
  .main-about .right-about {
    height: 400px;
  }
  .main-about .right-about h1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 748px) {
  .main-about {
    flex-direction: column;
    padding: 5px;
  }
  .main-about .left-about,
  .main-about .right-about {
    width: 100%;
  }
  .main-about .left-about p {
    font-size: 12px;
  }
  .main-about .right-about {
    height: 100px;
  }
}
/* About page styling End */

/* Login  */
#login-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  align-self: center;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  width: 50%;
  margin: 30px;
  border-radius: 10px;
}
#login-form .both {
  padding: 0px;
}
#login-form .both .form-control {
  width: 100%;
  padding: 5px;
}
@media screen and (max-width: 1146px) {
  #login-form {
    width: 60%;
  }
}
@media screen and (max-width: 559px) {
  #login-form {
    width: 80%;
  }
}
@media screen and (max-width: 353px) {
  #login-form {
    width: 95%;
    padding: 5px;
  }
}
/* Login End */

/* SignIn  */
#sign-form {
  width: 60% !important;
  align-self: center;
  margin-top: 40px;
}
#sign-form select {
  width: 100%;
  background-color: var(--skyblue);
  border: none;
  padding: 10px;
  color: black;
  width: 100%;
}
@media screen and (max-width: 500px) {
  #sign-form {
    width: 95% !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
/* SignIn  End*/
/* My Profile section  */
section {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}
section .edit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  color: black;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
section .edit .left-edit img {
  height: 300px;
  width: 300px;
  object-fit: contain;
}
section .edit .right-edit {
  /* width: 80%; */
  flex: 1;
  align-self: inherit;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
section .edit .right-edit h1 {
  color: var(--red);
  font-size: 40px;
  font-weight: 700;
}
section .edit .right-edit p {
  padding-top: 10px;
}
@media screen and (max-width: 1349px) {
  section .edit {
    width: 80%;
  }
}
@media screen and (max-width: 1205px) {
  section .edit {
    width: 100%;
  }
}
@media screen and (max-width: 995px) {
  section {
    margin-top: 80px;
  }
}
@media screen and (max-width: 665px) {
  section .edit {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 90px;
  }
  section .edit .left-edit img {
    width: 200px;
    height: 200px;
  }
}
.reset-password {
  box-shadow: 0px 10px 40px 0 var(--primary);

  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  display: none;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.form-control {
  position: relative;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
input {
  padding: 6px 10px;
  border: none;
  background-color: white;
  width: 100%;
}
.profile-labels {
  width: 100%;
}
.form-control.success input {
  border-color: #2ecc71;
}
#done {
  margin-top: 20px;
  background-color: var(--primary);
}

.form-control.error input {
  border-color: #e74c3c;
}
.form-control i {
  position: absolute;
  top: 48px;
  right: 20px;
  visibility: hidden;
}
.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}
.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}
.form-control small {
  visibility: hidden;
  position: absolute;
  top: 75px;
  left: 20px;
  font-size: 14px;
}
.form-control.error small {
  color: #e74c3c;
  visibility: visible;
}
.form-control.error .input-p p {
  margin-top: 14px;
}

@media screen and (max-width: 796px) {
  .form-control {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .form-control input,
  .form-control label {
    width: 100%;
  }
}
@media screen and (max-width: 663px) {
  section .edit,
  section .reset-password {
    width: 100%;
  }
}
@media screen and (max-width: 437px) {
  section .edit {
    flex-direction: column;
    align-items: flex-start;
  }
  section .reset-password {
    padding: 2px;
  }
  button#edit {
    align-self: flex-start;
    margin-left: 20px;
  }
  section {
    height: auto;
  }
}

/* My Profile section End */

/* privacy styling */
.privacy {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
  width: 100%;
}
.privacy h1,
.privacy h2 {
  margin-top: 20px;
}
.privacy ul li {
  list-style: none;
}
.privacy ol {
  margin-left: 30px;
  margin-top: 10px;
}
@media screen and (max-width: 434px) {
  .privacy {
    padding: 15px;
  }
  .privacy p {
    font-size: 14px;
  }
}
@media screen and (max-width: 349px) {
  .privacy p a {
    font-size: 11px;
  }
}
/* privacy styling end */

/* main-home-area  styling */
.main-home-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 5px;
}
.main-panel {
  width: 85%;
}
.left-ad {
  width: 15%;
  height: 80vh;
  background-color: var(--skyblue);
}
.page-inner,
.row {
  width: 100%;
  margin: 0;
  padding: 1px;
  box-sizing: border-box;
}
.card {
  text-align: center;
}

.card-body {
  padding-top: 0;
}
@media screen and (max-width: 839px) {
  .main-home-area {
    flex-direction: column;
  }
  .main-panel {
    width: 100%;
    height: auto;
  }
  .left-ad {
    height: 20vh;
    width: 100%;
  }
  .col-md-4 {
    margin-top: 5px;
    /* padding-left: 0 !important; */
    padding-right: 0 !important;
  }
}
@media screen and (max-width: 360px) {
  .card-body {
    padding: 2px;
  }
  .col-md-4 {
    padding-left: 0 !important;
  }
}
